
/*样式重置*/
body, div, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, th, td, p, img, form, input, textarea { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
a:focus { outline: none; }
img { display: block; border: 0; }
em, b, h1, h2, h3, h4, h5, h6 { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; }
input { border: none; outline: none; }
textarea { outline: none; resize: none; overflow: auto; }
body { font-size: 12px; font-family: "微软雅黑", "Microsoft YaHei", sans-serif; }

table, input { vertical-align: middle; }